@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.caixa {
    margin: 280px 180px;
    display: flex;
    align-items: center;
    max-width: 1110px;

    img {
        border-radius: 100%;
        border: 5px solid #00AAFF;
    }

    p {
        font-family: "Inter", sans-serif;
        color: black;
    }
    .conteudo {
        margin-left: 30px;
    }
    .titulo {
        margin-bottom: 20px;
        .nome {
            color: black;
            font-size: 1.875rem;
            font-weight: bold;
        }

        p {
            color: #278733;
        }
    }

    .icones {
        display: flex;
        margin: 20px 0;
        flex-wrap: wrap;
        .icone {
            display: flex;
            align-items: center;
            margin-right: 23px;

            img {
                margin-right: 6px;
                border: none;
                border-radius: 0;
            }
        }

        p {
            font-size: 0.875rem;
        }
    }

    .areas {
        display: flex;

        .area {
            padding: 6px 14px;
            background-color: #D4E7D6;
            border-radius: 10px;
            margin-right: 7px;
            p {
                color: #278733;
                font-size: 0.75rem;
            }
        }
    }
}