@use './variaveis';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// =============================================================================
// RESET E CONFIGURAÇÕES GLOBAIS
// =============================================================================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

// =============================================================================
// ESTILOS GERAIS
// =============================================================================

h1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: variaveis.$cor_principal;
}

h2 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size: 60px;
}

h3 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

button {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}